# Bytecode Python
__pycache__/
*.py[cod]

# Arquivos temporários
*.log
*.tmp

# Configurações do VSCode (opcional, se pessoais)
.vscode/

# Arquivos de pacotes
*.egg-info/
dist/
build/

# Ambiente virtual Python
.venv/
venv/
